.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .loader-message {
        height: 30vh;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 30px;
    }

    .logo-with-shadow {
        height: 60vh;

        .logo {
            width: 170px;
            height: auto;
            color: white;
            fill: currentColor;
        }

        .shadowFrame {
            width: 130px;
            margin: 15px auto;
        }
    }
}
