<div class="social-media-buttons">
    <div class="contact-me">
        Contact Me:
    </div>
    <a class="tooltip" target="_blank" href="https://www.linkedin.com/in/nashid-ahmed/">
        <img src="../../assets/social-media/linkedin.png" />
        <span class="tooltiptext">LinkedIn</span>
    </a>
    <a class="tooltip" target="_blank" href="https://stackoverflow.com/users/9739129/nash11">
        <img src="../../assets/social-media/stackoverflow.svg" />
        <span class="tooltiptext">StackOverflow</span>
    </a>
    <a class="tooltip" target="_blank" href="https://github.com/nashidahmed">
        <img src="../../assets/social-media/github.png" />
        <span class="tooltiptext">GitHub</span>
    </a>
    <a class="tooltip" target="_blank" href="https://www.facebook.com/nashid.ahmed.5/">
        <img src="../../assets/social-media/facebook.png" />
        <span class="tooltiptext">Facebook</span>
    </a>
    <a class="tooltip" target="_blank" href="https://www.instagram.com/nashid115/">
        <img src="../../assets/social-media/instagram.png" />
        <span class="tooltiptext">Instagram</span>
    </a>
</div>
