.social-media-buttons {
    height: 10vh;

    img {
        height: 1.5rem;
        margin: 0.5rem;
    }

    .contact-me {
        display: inline-block;
        position: relative;
        top: -12px;
        margin: 0.5rem;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}